@charset "utf-8";

* {
    color: #222328;
    text-decoration: none;
    list-style: none;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #ffffff
}

#index_wrap {
    width: 1200px;
    height: 700px;
    margin: 0 auto;
}

header {
    height: 100px;
}

#logo1 {
    float: left;
    height: 40px;
    width: 200px;
    margin: 30px;
}

nav {
    height: auto;
    float: right;
    margin-top: 30px;
    margin-right: 40px;
    border: 1px solid slategrey;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
}

nav>ul {
    display: inline;
    text-align: center;
    font-size: 0;
}

nav>ul>li {
    display: inline-block;
}

nav>ul>li>a {
    display: block;
    width: 130px;
    height: 40px;
    line-height: 40px;
    border-left: 1px solid slategrey;
    box-sizing: border-box;
}

nav>ul>li:first-child>a {
    border-left: none;

}

.submenu {
    display: none;
    position: absolute;
    margin-top: 1px;
    margin-left: -1px;
    padding: 10px 0;
    background: white;
    border-bottom: 1px solid slategrey;
}

.submenu1 {
    border-left: 1px solid slategrey;
}

.submenu4 {
    border-right: 1px solid slategrey;
}

.submenu>li {
    width: 131px;
    height: 30px;
    line-height: 30px;
}

nav>ul>li:hover>a {
    color: hotpink;
    font-weight: 500;
}

.submenu>li:hover {
    background: pink;
}

.submenu>li:hover>a {
    color: white;
    font-weight: 500;
}



#slide {
    width: 100%;
    height: 300px;
    font-size: 0;
    background: peachpuff;
    overflow: hidden;
}

#slide>ul>li {
    width: 1200px;
    height: 300px;
    background: LavenderBlush;
}



#contents {
    height: 200px;
}

#tab_menu {
    float: left;
    padding: 10px;
    width: 500px;
    height: 200px;
}

#tab_menu>ul {
    position: absolute;
    display: inline;
    font-size: 0;
    text-align: center;
}

#tab_menu>ul>li {
    display: inline-block;
    background: mistyrose;
    border-radius: 10px 10px 0 0;
    border: 1px solid slategrey;

}

#tab_menu>ul>li:first-child {
    background: white;
    border-bottom: 1px solid white;
}

#tab_menu>ul>li>a {
    display: block;
    width: 100px;
    height: 30px;
    line-height: 35px;
}

.tab_contents {
    width: 480px;
    height: 150px;
    margin-top: 31px;
    padding: 10px;
    background: white;
    border: 1px solid slategrey;
}

.notice {
    display: block;
}

.notice>li {
    font-size: 0.9rem;
    line-height: 33px;
    cursor: pointer;
}

.notice>li>a {
    color: grey;
}

.notice>li>span {
    float: right;
    color: lightgrey;
}

.gallery {
    display: none;
    /*none OR flex*/
    justify-content: space-between;
    width: 455px;
    height: 150px;

}

.gallery>li {
    display: inline-block;
    overflow: hidden;
    background: pink;
    width: 145px;
    height: 130px;
}



#banner {
    float: left;
    width: 350px;
    padding: 10px;
}

#banner>a {
    display: block;
    width: 330px;
    height: 180px;
}

#direct {
    float: right;
    width: 350px;
    padding: 10px;
}

#direct>a {
    display: block;
    width: 330px;
    height: 180px;
}



footer {
    height: 100px;
    background: mistyrose;
}

#logo2 {
    float: left;
    width: 200px;
    height: 40px;
    margin: 30px;
}

#copyright {
    float: left;
    width: 650px;
    line-height: 100px;
    text-align: center;
    color: lightpink;
}

#sns {
    float: right;
    margin-right: 50px;
    margin-top: 25px;
}

#sns>ul>li {
    display: inline-block;
    margin-left: 20px;
}

#sns>ul>li:hover {
    opacity: 0.5;
}




#popup {
    display: none;
    position: absolute;
    top: 200px;
    left: 500px;
    width: 400px;
    height: 300px;
    border: 5px solid hotpink;
    background: white;
}

#popup_title {
    height: 40px;
    background: hotpink;
    color: white;
    font-size: 24px;
    padding-left: 10px;
    line-height: 40px;
}

#popup_letter {
    padding: 10px;
    line-height: 30px;
}

.popup_hide {
    padding: 10px 20px;
    background: hotpink;
    color: white;
    float: right;
    margin-right: 10px;
}
