/* 네비게이션 */
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body:before, body:after {
  content: "";
  display: block;


}
body:after {
  background: #208FF9;
}

/* MAIN VARIABLES FOR CUSTOMIZATION */
/* -------------------------------- */
.nav {
  overflow: hidden;
  position: absolute;
  right: 13.1%;
  top: 7%;
  width: auto;
  height: 90px;
  margin-top: -45px;
  /* background: #242424; */
  border-radius: 5px;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
  /* box-shadow: 0 10px 35px rgba(0, 0, 0, 0.2); */
  z-index: 999999999;
}
.nav__cb {
  z-index: -1000;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  pointer-events: none;
}
.nav__content {
  position: relative;
  width: 90px;
  height: 100%;
  -webkit-transition: width 1s cubic-bezier(0.49, -0.3, 0.68, 1.23);
  transition: width 1s cubic-bezier(0.49, -0.3, 0.68, 1.23);
}
.nav__cb:checked ~ .nav__content {
  -webkit-transition: width 1s cubic-bezier(0.48, 0.43, 0.29, 1.3);
  transition: width 1s cubic-bezier(0.48, 0.43, 0.29, 1.3);
  width: 600px;
}
.nav__items {
  position: relative;
  width: 1500px;
  height: 100%;
  padding-left: 20px;
  padding-right: 110px;
  list-style-type: none;
  font-size: 0;
}
.nav__item {
  display: inline-block;
  vertical-align: top;
  width: 70px;
  text-align: center;
  color: #6C7784;
  font-size: 14px;
  line-height: 90px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  cursor: pointer;
}
.nav__item:hover {
  color: #00bdea;
}
.nav__item-text {
  display: block;
  height: 100%;
  -webkit-transform: rotateY(-70deg);
          transform: rotateY(-70deg);
  opacity: 0;
  -webkit-transition: opacity 0.7s, -webkit-transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5);
  transition: opacity 0.7s, -webkit-transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5);
  transition: transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5), opacity 0.7s;
  transition: transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5), opacity 0.7s, -webkit-transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5);
}
.nav__cb:checked ~ .nav__content .nav__item-text {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  opacity: 1;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5);
  transition: opacity 0.2s, -webkit-transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5);
  transition: transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5), opacity 0.2s;
  transition: transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5), opacity 0.2s, -webkit-transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5);
}
.nav__item:nth-child(1) .nav__item-text {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.nav__cb:checked ~ .nav__content .nav__item:nth-child(1) .nav__item-text {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.nav__item:nth-child(2) .nav__item-text {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.nav__cb:checked ~ .nav__content .nav__item:nth-child(2) .nav__item-text {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
.nav__item:nth-child(3) .nav__item-text {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
.nav__cb:checked ~ .nav__content .nav__item:nth-child(3) .nav__item-text {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.nav__item:nth-child(4) .nav__item-text {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.nav__cb:checked ~ .nav__content .nav__item:nth-child(4) .nav__item-text {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.nav__item:nth-child(5) .nav__item-text {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.nav__cb:checked ~ .nav__content .nav__item:nth-child(4) .nav__item-text {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.nav__item:nth-child(6) .nav__item-text {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.nav__cb:checked ~ .nav__content .nav__item:nth-child(4) .nav__item-text {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.nav__item:nth-child(7) .nav__item-text {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.nav__cb:checked ~ .nav__content .nav__item:nth-child(4) .nav__item-text {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.nav__btn {
  position: absolute;
  right: 0;
  top: 0;

  padding: 20px 20px;
  cursor: pointer;
}
.nav__btn:before, .nav__btn:after {
  content: "";
  display: block;
  width: 28px;
  height: 4px;
  border-radius: 2px;
  background: #096DD3;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: background-color 0.3s, -webkit-transform 1s cubic-bezier(0.48, 0.43, 0.29, 1.3);
  transition: background-color 0.3s, -webkit-transform 1s cubic-bezier(0.48, 0.43, 0.29, 1.3);
  transition: transform 1s cubic-bezier(0.48, 0.43, 0.29, 1.3), background-color 0.3s;
  transition: transform 1s cubic-bezier(0.48, 0.43, 0.29, 1.3), background-color 0.3s, -webkit-transform 1s cubic-bezier(0.48, 0.43, 0.29, 1.3);
}
.nav__btn:before {
  margin-bottom: 10px;
}
.nav__btn:hover:before, .nav__btn:hover:after {
  background: #00bdea;
}
.nav__cb:checked ~ .nav__btn:before {
  -webkit-transform: translateY(7px) rotate(-225deg);
          transform: translateY(7px) rotate(-225deg);
}
.nav__cb:checked ~ .nav__btn:after {
  -webkit-transform: translateY(-7px) rotate(225deg);
          transform: translateY(-7px) rotate(225deg);
}

/* 네비게이션 끝 */








/* 섹션3 갤러리 */
img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container_slide3 {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides img{
  width: 100%;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


/* Container for image text */
.caption-container_slide3 {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
/* 섹션3 갤러리 끝*/





/* 카카오맵 스크롤 제어 */
.map-scroll-fixed {
    overflow-x: hidden;
    width: 100%;
}
/* 카카오맵 스크롤 제어 끝 */


/* 카카오맵 */
.customoverlay {
  position: relative;
  bottom: 85px;
  border-radius: 6px;
  border: 1px solid #ccc;
  border-bottom: 2px solid #ddd;
  float: left;
}

.customoverlay:nth-of-type(n) {
  border: 0;
  box-shadow: 0px 1px 2px #888;
}

.customoverlay a {
  display: block;
  text-decoration: none;
  color: #000;
  text-align: center;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  background: #242424;
  background: #242424 url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;
}

.customoverlay .title {
  display: block;
  text-align: center;
  background: #fff;
  margin-right: 35px;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
}

.customoverlay:after {
  content: '';
  position: absolute;
  margin-left: -12px;
  left: 50%;
  bottom: -12px;
  width: 22px;
  height: 12px;
  background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
}
/* 카카오맵 끝 */

/* 첫페이지 로딩페이지 */

/* 첫페이지 로딩페이지 끝 */


@font-face { font-family: 'GyeonggiBatang'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff'); font-weight: normal; font-style: normal; }

/* .section3_nav{
  margin: 0 auto;
} */
/* .scroller h2{
  color: #FFF!important;
} */


/* 슬라이더 */

#slider {
  height: 650px;
  overflow: hidden;
}

.slider-content {
  height: 650px;
  width: 10000px;
  
  font-weight: 300;
}

.slider-item {
  position: relative;
  height: 650px;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0) skew(-20deg, 0deg);
  -moz-transform: translate3d(0, 0, 0) skew(-20deg, 0deg);
  -ms-transform: translate3d(0, 0, 0) skew(-20deg, 0deg);
  transform: translate3d(0, 0, 0) skew(-20deg, 0deg);
  transition: all 0.5s;
}

.slider-item:first-child { margin-left: -123px; }

.image {
  float: left;
  position: relative;
  transition: all 0.5s;
  cursor: pointer;
}



/* 로고 깜빡이 키는거 */
.blinking{
	-webkit-animation:blink 1.5s ease-in-out infinite alternate;
	-moz-animation:blink 1.5s ease-in-out infinite alternate;
	animation:blink 1.5s ease-in-out infinite alternate;
}
@-webkit-keyframes blink{
	0% {opacity:0;}
	100% {opacity:1;}
}
@-moz-keyframes blink{
	0% {opacity:0;}
	100% {opacity:1;}
}
@keyframes blink{
	0% {opacity:0;}
	100% {opacity:1;}
}








/* 연습 */







/* 끝 */


















































#section01{
	width:100%;
    background:url('../img/long-line.png');
    background-color: #242424;
}
	/* .main-img{width: 100%; height: 606px url(../img/main_image.jpg) top center no-repeat;} */

	.logo{
		padding-top: 2.5%;
        padding-left: 16.6%;
        position: absolute;
		
  }
  





	#section01 p{
		color: #FFF;
		font-size: 1.6rem;
    padding-top: 8%;
		padding-left: 16.6%;



		
	}
	.bottom-line{
		padding-left: 16.6%;
		
	}
	.container-main h1{
		color: #FFF;
		font-size: 4rem;
		font-family: 'Book Antiqua','bold';
		padding-left: 16.6%;
		padding-top: 10%;
		position: absolute;
	}
	.main-img{

		display: flex;
		justify-content: flex-end;
		padding-right: 16.6%;
        margin-top: -2%
        
    }
    
    .intro p{
        
        color: #FFF;
        font-family: 'GyeonggiBatang','Regular'!important;
        text-align: right;
        right: 16.6%;
        margin-top: -6%;
        position: relative;
        line-height: 35px;
        padding-bottom: 6.1%
        /* 질문. 전체화면 f11했을때 색도 채워야되는지 */
    }
    .menu_box {
      width: 100%;
      height: 90px;
      color: #FFF;
      position: fixed;
      /* top: -3%; */
      transition: all 0.5s ease-in-out;
      -webkit-transition: all 0.5s ease-in-out;
      z-index: 9999999;
  }
    .logo{
      position: fixed;
      z-index: 99999999999;
    }
  /* .mnFixed {
    position: fixed;
    top: 0px;
  } */
    
    /* .fixed{
      background:rgba(0,0,0,0.5); transition:all 0.5s ease-in-out; -webkit-transition:all 0.5s ease-in-out;} */
    
      .logo a {
          font-size: 46px;
          color: #FFF;
          font-family: 'GyeonggiBatang','Regular';
          text-decoration: none;
      }
  
      .menu_box>ul {
              display: flex;
              justify-content: flex-end;
              padding-right: 16.6%;
              position: relative;
              padding-top: 2.5%;
  
      }
        
        /* .menu_box li{
          float:left; text-align:center;}
          
          .menu_box li a{
            text-decoration:none; color:rgb(109, 100, 100); font-family: 'Open Sans',Arial,Helvetica,sans-serif; font-size:14px;} */
            
            /**메뉴부분 마우스 오버시 색상 **/
            .menu_box li a:hover {
                border-top: 2px solid #FFF;
                padding-top: 40px;
                color: #FFF;
            }
  
            /* .menu_box li:nth-child(2) a:hover {
                border-top: 2px solid #6FF;
                padding-top: 40px;
                color: #6FF;
            }
  
            .menu_box li:nth-child(3) a:hover {
                border-top: 2px solid #9F0;
                padding-top: 40px;
                color: #9F0;
            }
  
            .menu_box li:nth-child(4) a:hover {
                border-top: 2px solid #F33;
                padding-top: 40px;
                color: #F33;
            }
  
            .menu_box li:nth-child(5) a:hover {
                border-top: 2px solid #FC0;
                padding-top: 40px;
                color: #FC0;
            } */
  
  



    /* url(../img/home-banner.jpg) top center no-repeat */










    
/* #section02 {
    width: 100%;
    background: url('../img/long-line.png');
    background-color:#242424;
} */
  
.container-slide{
  width: 68.8%;
  /* padding-left: 17.8%; */
  margin: 0 auto;
}
.row{

  display: flex;

}


.slider-main{
  margin: 0 auto;
  
}

/* .opacity{
    width: 100%;
    background: #000000;
    opacity: 80%;
    height:800px; 
    position: absolute;

} */



/* 시험 */










/* 시험끝 */






/* .bg1{
  width: 30%;
  background: url('../img/img01.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 800px;
  margin-top: 0%;
  
    
}




.bg2{
  width:30%;
  background: url('../img/img02.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 800px;
  margin-top: 5%;
}
.bg3{
  width: 30%;
  background: url('../img/img03.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 800px;
  margin-top: 10%;
} */

/* .box-down{
  height: 250px;
  width: 250px;
  background: black;
  margin: 15px;
  float:left;
} */




/* #your-div {
  background: url('image.jpg') no-repeat;
  background-size:cover;
  background-repeat: no-repeat;
} */



#section02 {
  width: 100%;
  height: 1080px;
  background: url('../img/long-line.png');
  background-color:#242424;
  position: relative;
  font-family: 'GyeonggiBatang','Regular';
  
  
  

}



#section03 {
    width: 100%;
    height: 1080px;
    background: url('../img/long-line.png');
    background-color:#242424;
    position: relative;
    font-family: 'GyeonggiBatang','Regular';
    
    
    

}
#section04 {
  width: 100%;
  height: 1080px;
  background: url('../img/long-line.png');
  background-color:#242424;
  position: relative;
  font-family: 'GyeonggiBatang','Regular';
  
  
  

}
#section05 {
  width: 100%;
  height: 1080px;
  background: url('../img/long-line.png');
  background-color:#242424;
  position: relative;
  font-family: 'GyeonggiBatang','Regular';
  
  
  

}
  .forestOfwisdom{
    display: flex;
  }
  .box___1{
    display: flex;
    position: relative;
    justify-content: space-around;
  }

  /* .fore-2{
    padding-left: 20%;
  } */
  .txt_1{
    display: flex;
    justify-content: flex-end;
    padding-left: 44%;
  }

  .box___2{
    display: flex;
    position: relative;
    justify-content: space-around;
  }


  /* .content p {
    font-size: 1.4em;
    line-height: 1.6;
    font-weight: 300;
    padding: 5px 8%;
    text-align: justify;
  } */
  .forestOfwisdom {
    position: relative;
    width: 100%;
  }
  .forestOfwisdom .after_1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
    margin: 0 auto;
    /* justify-content: center; */
    /* text-align: center; */
    /* vertical-align: middle; */
  }
  .forestOfwisdom:hover .after_1 {
    display: block;
    padding: 27% 8%;
    /* line-height: 10px; */
    width: 881px;
    background: rgba(0, 0, 0, .6);
    
  }


  .content p {
    font-size: 1.4em;
    line-height: 1.6;
    font-weight: 300;
    padding: 5% -1.5%;
    text-align: justify;
  }
  

  


















@media (max-width :767px){
    .menu_box{
      padding-top: 7%;
    }

    .container-main{
        padding-top: 40px;
        
    }
    .main-img{
        display: none;
    }
    #btn-nav{
      padding-left: 20px;
    }
    .tlt{
    transform: translate(-5%,20%);
    
    }
    .texts li{
      font-size: 14px!important;
    }
    .dots{
      top: 43%!important;
    }
    .dots-left {
    right: 5%!important;
    }


    .intro{
        /* padding-top: 200px;
        padding-left: 63px;
        padding-right: 30px; */
        padding-bottom: 131px;
    }
    .playground .viewport .tlt{
      font-size: 54px!important;
      letter-spacing: 3px!important;

    }
    
    .intro p{
      padding-top: 200px!important;
      padding-left: 130px!important;
        font-size: 20px!important;
        letter-spacing: -1px!important;
        text-align: center;
        /* display: flex;
        justify-content: center; */

    }

    .content-1 div{
      /* 이게 원래 노트9 사이즈 */
      /* margin-bottom: 234.81px; */
    margin-bottom: 234.81px;
    }


   .container-main{
     padding: 150px 0;
     margin: 0 auto;
   }

    .display-none{
        display: none;
    }
    .small-info{
        display: none;
    }
    .menu{
        display: block;
    }
    .navi{
        display: none;
    }
    nav{
        justify-content: space-between;
    }
    .row{
        flex-direction: column;
    }
    .width-40{
        width: 100%;
    }
    .width-60{
        width: 100%;
    }
    .info-big{
        padding: 0;
    }
    .flex-box{
        display: flex;
        flex-direction: column-reverse;
}

/* @media (min-width: 576px){
    .container {
    max-width: 540px;
    margin:0 auto;
    }

} */

/* @media (min-width: 768px){
.container {
    max-width: 720px;
    margin: 0 auto;
    }
} */

/* @media (min-width: 992px){
.container {
    max-width: 960px;
    margin: 0 auto;
    }
}

@media (min-width: 1200px){
.container {
    max-width: 1140px;
    margin: 0 auto;
    }
} 

@media(max-width:767px){
    .d-none{
        display: none;
    }
    .display-none{
        display: none;
    }
    .small-info{
        display: none;
    }
    .menu{
        display: block;
    }
    .navi{
        display: none;
    }
    nav{
        justify-content: space-between;
    }
    .row{
        flex-direction: column;
    }
    .width-40{
        width: 100%;
    }
    .width-60{
        width: 100%;
    }
    .info-big{
        padding: 0;
    }
    .flex-box{
        display: flex;
        flex-direction: column-reverse;
    }
}




@media(max-width:767px){
    .d-none{
        display: none;
    }
    .display-none{
        display: none;
    }
    .small-info{
        display: none;
    }
    .menu{
        display: block;
    }
    .navi{
        display: none;
    }
    nav{
        justify-content: space-between;
    }
    .row{
        flex-direction: column;
    }
    .width-40{
        width: 100%;
    }
    .width-60{
        width: 100%;
    }
    .info-big{
        padding: 0;
    }
    .flex-box{
        display: flex;
        flex-direction: column-reverse;
    }
} */


